html {
  background-color: black;
}

nav {
  text-align: center;
}

.name {
  color: Red;
}

.name2 {
  color: blue;
}

.name3 {
  color: green;
}

.box {
  position: absolute;
  left: 100px;
  right: 100px;
  margin: auto
  width: 700px;
  height: auto;
  padding: 50px;
  border: 1px solid red;
}

.box2 {
  position: absolute;
  left: 100px;
  right: 100px;
  margin: auto
  width: 700px;
  height: auto;
  padding: 50px;
  border: 1px solid green;
}

.box3 {
  position: absolute;
  left: 100px;
  right: 100px;
  margin: auto
  width: 700px;
  height: auto;
  padding: 50px;
  border: 1px solid blue;
}

.title {
  color: #06a89e;
  text-align: center;
}

.title2 {
  color: grey;
  text-align: center;
}

.title3 {
  color: yellow;
  text-align: center;
}


.what {
  color: crimson;
}

.why {
  color: yellow;
}

.see {
  color: #0D98BA;
}

p {
  color: white;
  text-align: Center;
}

h1 {
  color: #f442d9;
}

h2 {
  color: yellow;
}

a {
  color: #35847f;
  /* text-align: center; */
}

ul, li {
  color: #2de2d3;
  text-align: center;
  list-style-type: none;
}

a:hover {
  color: #2de2d3;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center
}

.hateful8 {
  text-align: center;
  height: auto;
  width: auto;
  object-fit: cover;
}

.thelifeofpablo {
  text-align: center;
  height: auto;
  width: auto;
  object-fit: cover;
}

.Narcos {
  text-align: center;
  height: auto;
  width: auto;
  object-fit: cover;
}

img {
  width: 100%;
  height: auto;
}
